@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.range-slider {
  -webkit-appearance: none; /* デフォルトのスタイルをリセット */
  width: 128px; /* 必要に応じて調整 */
  height:56px; 
  background: transparent; /* スライダートラックの背景を透明に設定 */
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 128px; /* ツマミの幅 */
  height: 56px; /* ツマミの高さ */
  background:  theme('colors.content.dark');/* ツマミの背景色 */
  cursor: pointer; /* カーソルのスタイル */
  border-radius: 28px; /* ツマミを円形に */
  transform: translateY(-50%);
}

.range-slider::-moz-range-thumb {
  width: 128px;
  height: 56px;
  background: theme('colors.content.dark');
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.range-slider::-ms-thumb {
  width: 128px;
  height: 56px;
  background: theme('colors.content.dark');
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.range-slider::-webkit-slider-runnable-track {
  width: 1px;
  height: 1px;
  background: transparent; /* トラックの背景色 */
}

.range-slider::-moz-range-track {
    width: 1px;
  height: 1px;
  background: transparent; /* トラックの背景色 */
}

.range-slider::-ms-track {
    width: 1px;
  height: 1px;
  background: transparent; /* トラックの背景色 */
}
}